@keyframes h1 {
  0% {background-color: white; color: #090e87; text-align: left; margins: 10px 10px;}
  100% {background-color: #090e87; color: white; text-align: right; margins: 0px 0px;}
}

h1 {
  background-color: white;
  font-family: oswald;
  color: #090e87;
  margins: 10px 10px;
  text-align: left;
  animation-name: h1;
  animation-duration: 10s;
}
