h1 {
  color: #02132e;
  background-color: lightgrey;
  text-align: center;
}

@keyframes h2 {
  0% {background-color: white; color: #090e87; text-align: left;}
  100% {background-color: #090e87; color: white; text-align: right;}
}

h2 {
  background-color: white;
  color: #090e87;
  text-align: left;
  animation-name: h2;
  animation-duration: 10s;
}
